<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>My Links</h1>
    </div>
  </div>
</div>
<div class="container-fluid p-5" id="links-container">
  <div class="row">
    <% @links.each do |link| %>
      <%= render "links/draggable", link: link %>
    <% end %>
  </div>
</div>