<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1>My Links</h1>
      <% current_user.links.each do |link| %>
        <div class="bg-info-subtle bg-gradient border border-info rounded p-3 mb-3">
          <%= simple_form_for(link, url: links_url(link)) do |f| %>
            <%= f.input :title, placeholder: "Title", label: false, class:"form-control" %>
            <%= f.input :url, placeholder: "URL", label: false, class:"form-control" %>
            <%= f.submit "Update Link", class:"btn btn-primary me-auto" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>