<div class="btn-group w-100 d-flex" role="group">
  <div class="btn btn-lg btn-primary flex-shrink-1 col-2 text-center"><i class="fa-<%= link.icon_style %> fa-<%= link.icon %> mr-2"></i></div>
  <div class="btn btn-lg btn-outline-primary w-100 text-start"><%= link.title %></div>
</div>