<%= render 'profile', user: @user %>

<div class="container-fluid text-center">
  <% if user_signed_in? %> 
    <% if @user == current_user %>
      <%= link_to "Profile page settings", edit_user_path(current_user), class: "btn btn-sm btn-outline-secondary" %>
    <% else %>
      <%= link_to "Go to your profile page", user_path(current_user), class: "btn btn-sm btn-outline-secondary" %>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "btn btn-small btn-outline-secondary mb-2" do %>
      Build your own bio with gugel.my
    <% end %>
  <% end %>
</div>
