<%= render 'profile', user: @user %>

<div class="container-fluid fixed-bottom text-center bg-white py-3"> <%# TODO: need to set to bottom of the page %> 
  <%= link_to root_path, class: "btn btn-small btn-outline-secondary mb-2" do %>
    Build your own bio with Ranting
  <% end %>
</div>

<script>


  
  let hideHidables = true
  let toggleHidables = () => {
    let hidables = document.querySelectorAll(".hidable")
    hidables.forEach( (btn) => {
      if(hideHidables) {
        btn.style.display = 'block';
        document.getElementById("editLinksButton").innerHTML = "Finish Edit";
      } else {
        btn.style.display = 'none';
        document.getElementById("editLinksButton").innerHTML = "Edit Links";
      }
    })
    hideHidables = !hideHidables;
  }
</script>