<%= render 'profile', user: @user %>

<div class="container fixed-bottom text-center"> <%# TODO: need to set to bottom of the page %> 
  <%= link_to root_path, class: "btn btn-small btn-outline-secondary mb-2" do %>
    Build your own bio with Ranting
  <% end %>
</div>
