<% dragActions = "dragstart->drag#dragStart 
                    dragover->drag#dragOver 
                    dragenter->drag#dragEnter
                    drop->drag#drop
                    dragend->drag#dragEnd" %>

<%= content_tag(:div, class: "col-12 col-sm-6 draggable", draggable: true, data: { 
  controller: "drag",
  action: dragActions,
  resource_id: link.id,
  url: "/drag/links",
  parent: "links-container"
}) do %>
  <div class="card border-primary">
    <div class="card-header">
      <i class="bi bi-arrows-move draggable-hook"></i>
    </div>
    <div class="card-body">
      <i class="bi bi-house-door-fill"></i>
      <h5 class="card-title"><%= link.title %></h5>
    </div>
    <div class="card-footer">
      <%= link_to edit_link_path(link),
                  class: "btn btn-primary" do %>
        <i class="bi bi-pencil-fill me-2"></i> Update link
      <% end %>
    </div>
    
  </div>
<% end %>


    