<div class="container mt-5 text-center">
  <div class="row g-3">
    <div class="col-10 mx-auto">
      <%= image_tag @user.avatar, class: "d-block mx-auto my-3 col-3 col-md-4 col-lg-2 rounded-circle" if @user.avatar.attached? %>
      <h3><%= @user.full_name.nil? ? @user.email : @user.full_name %></h3>
    </div>

    <div class="col-10 mx-auto">
      <p class="lead">
        <%= @user.description %>
      </p>
    </div>
    <div class="row">
      <div class="col-10 mx-auto">
        <% @links.each do |link| %>
          <%= button_to link.title, link.url, target: "_blank", class:"btn btn-lg btn-outline-primary col-10 mx-auto mb-3 rounded-0" %>
        <% end %>
      </div>
    </div>
  </div>
</div>