<div id="accordionFAQ" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-800 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
  <h2 id="accordion-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-1" aria-expanded="true" aria-controls="accordion-body-1">
      <span>What is Gugel?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-1" class="hidden" aria-labelledby="accordion-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Gugel is primarily a link-in-bio platform that allows any Malaysian creators to showcase their work and social media profiles in a single, easy-to-share link.<br><br>Alongside having your very own links page, you can also shorten your links and generate QR codes for easy sharing with everyone! ♥️
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-2" aria-expanded="false" aria-controls="accordion-body-2">
      <span>Links page? Link shortener? QR code?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-2" class="hidden" aria-labelledby="accordion-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        As a Gugel member, you will have your very own <strong class="font-semibold text-gray-900 dark:text-white">links page</strong> where you can organize all your important links in one place, making it easy for your audience to access relevant information. Additionally, we provide a <strong class="font-semibold text-gray-900 dark:text-white">link shortener</strong> tool to help you create concise and shareable URLs, perfect for social media posts, emails, and more. Need to go even more digital? <strong class="font-semibold text-gray-900 dark:text-white">Generate QR codes</strong> effortlessly with our built-in QR code generator, allowing users to access your content with a simple scan.
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-3">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-3" aria-expanded="false" aria-controls="accordion-body-3">
      <span>Who is Gugel for?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-3" class="hidden" aria-labelledby="accordion-heading-3">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Gugel is built for everyone in Malaysia! 🇲🇾 We provide the platform, and it's up to <em>you</em> to take advantage of the features in Gugel to optimize your online presence.
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-4">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-4" aria-expanded="false" aria-controls="accordion-body-4">
      <span>Can I upgrade my account at any time?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-4" class="hidden" aria-labelledby="accordion-heading-4">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <strong>Yes.</strong>You can start with our basic membership at RM3.80/year and upgrade anytime to enjoy premium features.
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-5">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-5" aria-expanded="false" aria-controls="accordion-body-5">
      <span>I created an account but couldn't find the payment page.</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-5" class="hidden" aria-labelledby="accordion-heading-5">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Because we haven't built it yet 😬
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-6">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-6" aria-expanded="false" aria-controls="accordion-body-6">
      <span>When will I start getting charged for using Gugel?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-6" class="hidden" aria-labelledby="accordion-heading-6">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Gugel is still in testing phase. You are free to use all our features until further notice.<br><br>
        We will inform all users at least 30 days before we start charging for our service. After that, all new member account will be charged after 30 Gregorian calendar days.
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-7">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-7" aria-expanded="false" aria-controls="accordion-body-7">
      <span>What happens when I delete my account?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-7" class="hidden" aria-labelledby="accordion-heading-7">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Once your account has been deleted, your subscription will be canceled and we will wipe all of your data from our servers including but not limited to your links, traffic data, uploaded attachments and all other associated data.
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-8">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-8" aria-expanded="false" aria-controls="accordion-body-8">
      <span>Your competitors offer free forever tier. Why should I pay to use Gugel? </span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-8" class="hidden" aria-labelledby="accordion-heading-8">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        Because you want to! Membership fees will be used to cover infrastructure and maintenance costs of running an online service.<br><br>If cost is a major blocker for you, we recommend you look into our competitors for your solution (shout out to <%= link_to "Linktree", "https://linktr.ee/", target: "_blank" %>, the OG link-in-bio platform ♥️). We bill customers after 30 days, which any customers can opt out of the service without any charge. You should only pay us if you want to continue using services provided by Gugel. 
      </p>
    </div>
  </div>

  <h2 id="accordion-heading-9">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-body-9" aria-expanded="false" aria-controls="accordion-body-9">
      <span>Is Gugel.my affiliated with the global tech company Google?</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-body-9" class="hidden" aria-labelledby="accordion-heading-9">
    <div class="p-5 border border-gray-200 dark:border-gray-700 rounded-b-xl">
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        <strong>No.</strong> We <em>actually</em> do no evil.
      </p>
    </div>
  </div>
</div>