<div class="container py-3">
  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto">
      <h1 class="display-4 fw-normal text-body-emphasis text-center">About Ranting</h1>
      <p class="fs-5 text-body-secondary lead">Ranting is a link-in-bio platform that allows Malaysian creators to showcase their work and social media profiles in a single, easy-to-share link. </p>
      
      <p class="fs-5 text-body-secondary">It is a platform that allows creators to add links to their website, blog, social media profiles, email address, and other online assets. It can be customized with a variety of colors, fonts, and images. Ranting is free to use for 30 days, and there are paid plans available for creators who need more features.</p>
      <p class="fs-5 text-body-secondary">Here are some of the features that make Ranting a good option for Malaysian creators:</p>
      <ul>
        <li>Personal dashboard for anything you need.</li>
        <li>It supports the use of Malaysian e-Wallets.</li>
        <li>It is designed with Malaysian creators in mind, so it is easy to use and navigate.</li>
        <li>It is a reliable and secure platform.</li>
      </ul>
      <p class="fs-5 text-body-secondary">Want more features? Let us know <u>here</u>.</p>
    </div>
  </header>

</div>