<h1>About Ranting</h1>
<p class="lead">Ranting is a LinkTree clone built by Malaysians for Malaysians 🇲🇾</p>
<p>That means our team can focus on the needs of Malaysians for the app. As subscribers, you can have the peace of mind of having your own space in the digital realm which you can control through simple interface to customise your ranting.my/<span class="text-primary">your_username</span> page.</p>
<p>Want more features? Let us know <u>here</u>.</p>