<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Frequently Asked Questions</h1>
      <p class="fs-5 text-body-secondary">You pay for the rights to the username! </p>
      
      <p class="fs-5 text-body-secondary">Every new registration comes with free 30 days of use, of which before the 30 days ends, you are required to select a pricing model that suits you to secure the username for yourself.</p>
      <p class="fs-5 text-body-secondary">Don't want to pay? Just re-register your account after the 30 days has expired! 👌</p>
    </div>
  </header>
</div>