<main class="container">

  <%= turbo_frame_tag "modal" do %>
    <div class="modal-header">
      <%= tag.h5 "Edit link", class: "modal-title" %>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <%= render "links/form", link: @link %>
    </div>
  <% end %>
</main>
